body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  max-width: 100vw;
  max-height: 100vh;
  height: 100vh;
}

.app-container {
  width: 100%;
  height: 100%;
  padding: 12px;
  /* display: grid;
  grid-template-columns: 100px 1fr; */
  display: flex;
  gap: 4px;

  & > main {
    /* background-color: aqua; */
    overflow: hidden;
    flex-grow: 1;
  }

  & > aside {
    background-color: aqua;
    min-width: 200px;
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 4px;
    & > button {
      height: fit-content;
    }
  }
}

#stage {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  height: 100%;
  & > div {
    & > canvas {
      border: 1px solid #000 !important;
    }
  }
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
